<ion-view view-title="注册">
    <ion-content class="padding">
        <div class="list list-inset">
            <form name="register_form">
                <label class="item item-input">
                    <i class="icon ion-search placeholder-icon"> </i>
                    <input type="text" name="company_name" placeholder="公司名称" ng-model="company_name" required>
                </label>


                <label class="item item-input">
                    <i class="icon ion-person placeholder-icon"> </i>
                    <input type="text" name="name" placeholder="负责人" ng-model="name" required>
                </label>


                <label class="item item-input">
                    <i class="icon ion-iphone placeholder-icon"> </i>
                    <input type="text" name="phone" placeholder="手机号" ng-model="phone" required>
                </label>

                <label class="item item-input">
                    <i class="icon ion-code-working placeholder-icon"> </i>
                    <input type="text" name="code" placeholder="验证码" ng-model="code" required>
                </label>

                <label class="item item-input">
                    <i class="icon ion-search placeholder-icon"> </i>
                    <input type="password" name="password" placeholder="密码" ng-model="password" required>
                </label>
                <label class="item item-input">
                    <i class="icon ion-search placeholder-icon"> </i>
                    <input type="password" name="confirm_password" placeholder="再次输入密码" ng-model="confirm_password"
                           ui-validate=" '$value==password' " required>
                </label>
                <!--inline-->
                <!--<label class="item item-input">-->
                <!--<i class="icon ion-search placeholder-icon"> </i>-->
                <!--<span class="input-label">Username</span>-->
                <!--<input type="text">-->
                <!--</label>-->

                <ul class="list">
                    <li class="item item-checkbox">
                        <label class="checkbox">
                            <input type="checkbox">
                        </label>
                        我同意注册协议
                    </li>
                </ul>
                <button ng-disabled="register_form.$invalid" type="submit" class="button button-block button-positive"
                        ng-click="register()">注册
                </button>
            </form>
        </div>
    </ion-content>
</ion-view>
