<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->

<!--<ion-header-bar class="bar-stable">-->

<!--</ion-header-bar>-->
<!--<ion-nav-bar class="bar-stable">-->
    <!--<ion-nav-back-button>-->
    <!--</ion-nav-back-button>-->
<!--</ion-nav-bar>-->


<!--<div class="bar bar-header bar-dark">-->
    <!--<h1 class="title">bar-dark</h1>-->
<!--</div>-->
<ion-nav-bar>
</ion-nav-bar>
<ion-nav-view name="tab-dash">
</ion-nav-view>

<ion-tabs class="tabs-icon-top tabs-color-active-positive">

    <!-- Dashboard Tab -->
    <!--href="#/tab/register"-->
    <ion-tab title="日升昌" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" ui-sref="tab.register">
        <!--<ion-nav-view name="tab-dash"></ion-nav-view>-->
    </ion-tab>
    <ion-tab title="物流" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" ui-sref="tab.pass">
    </ion-tab>
    <!-- Chats Tab -->
    <ion-tab title="交易" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/chats">
    </ion-tab>
    <!-- Account Tab -->
    <ion-tab title="我" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" ui-sref="tab.me">
    </ion-tab>


</ion-tabs>

